---
import MercadolibreCard from "./Mercadolibre-card.astro";
import defaultImage from "../img/ml-slider.jpg";
import imgML1 from "../img/ML_Tornillo_T1_Punta_Mecha.png";
import imgML2 from "../img/ML_Tornillos_Para_Madera_Ph2.png";
import imgML3 from "../img/ML_Taco_Plastico_Para_Chapa.png";
import imgML4 from "../img/ML_Tornillo_T1_Aguja.png";
import imgML5 from "../img/ML_Tornillo_Hex.png";
---

<section id="ml">
    <div class="titulo">
        <h2>Nuestros artículos</h2>
    </div>
    <div id="default-carousel" class="relative w-11/12" data-carousel="static">
        <!-- Carousel wrapper -->
        <div
            id="items"
            class="relative h-56 overflow-hidden rounded-2xl md:h-96"
        >
            <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <MercadolibreCard
                    img={imgML1.src}
                    description="Tornillo T1 Punta Mecha [4.2 X 13] x 1000 Caja"
                    price="550"
                    link="https://articulo.mercadolibre.com.uy/MLU-676643374-tornillo-t1-punta-mecha-42-x-13-1000-caja-_JM"
                />
                <MercadolibreCard
                    img={imgML2.src}
                    description="Tornillos Para Madera Ph2 22x90(5,0x90)x200"
                    price="540"
                    link="https://articulo.mercadolibre.com.uy/MLU-640050023-tornillos-para-madera-ph2-22x9050x90-200-unid-tutc-_JM"
                />
                <MercadolibreCard
                    img={imgML3.src}
                    description="Taco Plastico Para Chapa Trapezoidalx100"
                    price="510"
                    link="https://articulo.mercadolibre.com.uy/MLU-610001643-taco-plastico-para-chapa-trapezoidal-x100-unidades-_JM"
                />
                <MercadolibreCard
                    img={imgML4.src}
                    description="Tornillo T1 Punta Aguja [4.2 X 13] x1000"
                    price="435"
                    link="https://articulo.mercadolibre.com.uy/MLU-676708350-tornillo-t1-punta-aguja-42-x-13-1000-caja-_JM"
                />
                <MercadolibreCard
                    img={imgML5.src}
                    description="Tornillo Hex. P/mecha [5.5 X 75] 200 Caja"
                    price="976"
                    link="https://articulo.mercadolibre.com.uy/MLU-676656490-tornillo-t2-punta-aguja-35-x-25-1000-caja-_JM"
                />
                <MercadolibreCard
                    img={defaultImage.src}
                    description="Artículo"
                    price="99"
                    link=""
                />
                <MercadolibreCard
                    img={defaultImage.src}
                    description="Artículo"
                    price="99"
                    link=""
                />
                <MercadolibreCard
                    img={defaultImage.src}
                    description="Artículo"
                    price="99"
                    link=""
                />
                <MercadolibreCard
                    img={defaultImage.src}
                    description="Artículo"
                    price="99"
                    link=""
                />
                <MercadolibreCard
                    img={defaultImage.src}
                    description="Artículo"
                    price="99"
                    link=""
                />
            </div>
            <!-- Item 2 
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <MercadolibreCard img={defaultImage.src} description="Artículo" price="99" link=""></MercadolibreCard>
                <MercadolibreCard img={defaultImage.src} description="Artículo" price="99" link=""></MercadolibreCard>
                <MercadolibreCard img={defaultImage.src} description="Artículo" price="99" link=""></MercadolibreCard>
            </div>-->
            <!-- Item 3 
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <MercadolibreCard img={defaultImage.src} description="Artículo" price="99" link=""></MercadolibreCard>
                <MercadolibreCard img={defaultImage.src} description="Artículo" price="99" link=""></MercadolibreCard>
                <MercadolibreCard img={defaultImage.src} description="Artículo" price="99" link=""></MercadolibreCard>
            </div>-->
        </div>
        <!-- Slider indicators 
        <div
            class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
        >
            <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="true"
                aria-label="Slide 1"
                data-carousel-slide-to="0"></button>
            <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="false"
                aria-label="Slide 2"
                data-carousel-slide-to="1"></button>
            <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="false"
                aria-label="Slide 3"
                data-carousel-slide-to="2"></button>
        </div>-->
        <!-- Slider controls -->
        <button
            type="button"
            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev
        >
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
                <svg
                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 1 1 5l4 4"></path>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button
            type="button"
            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next
        >
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
                <svg
                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 9 4-4-4-4"></path>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>
</section>
<script is:inline>
    const carousel = document.getElementById("items");
    const slides = document.querySelector("[data-carousel-item]");
    const articulos = document.querySelectorAll("[data-carousel-item] .card");
    const cant_items = articulos.length;
    const card_width = 220;
    function resizeML(width) {
        let items = 0;
        carousel.innerHTML = "";
        if (width < card_width * 2) {
            for (let contador = 0; contador < cant_items; contador++) {
                const nuevoslide = slides.cloneNode(false);
                nuevoslide.appendChild(articulos[items]);
                carousel.appendChild(nuevoslide);
                items++;
            }
        } else {
            if (width < card_width * 3) {
                for (let contador = 0; contador < cant_items; contador++) {
                    const nuevoslide = slides.cloneNode(false);
                    for (let contador2 = 0; contador2 < 2; contador2++) {
                        if (articulos[items] != undefined) {
                            nuevoslide.appendChild(articulos[items]);
                            carousel.appendChild(nuevoslide);
                            items++;
                        }
                    }
                }
            } else {
                if (width < card_width * 4) {
                    for (let contador = 0; contador < cant_items; contador++) {
                        const nuevoslide = slides.cloneNode(false);
                        for (let contador2 = 0; contador2 < 3; contador2++) {
                            if (articulos[items] != undefined) {
                                nuevoslide.appendChild(articulos[items]);
                                carousel.appendChild(nuevoslide);
                                items++;
                            }
                        }
                    }
                } else {
                    if (width < card_width * 5) {
                        for (
                            let contador = 0;
                            contador < cant_items;
                            contador++
                        ) {
                            const nuevoslide = slides.cloneNode(false);
                            for (
                                let contador2 = 0;
                                contador2 < 4;
                                contador2++
                            ) {
                                if (articulos[items] != undefined) {
                                    nuevoslide.appendChild(articulos[items]);
                                    carousel.appendChild(nuevoslide);
                                    items++;
                                }
                            }
                        }
                    } else {
                        for (
                            let contador = 0;
                            contador < cant_items;
                            contador++
                        ) {
                            const nuevoslide = slides.cloneNode(false);
                            for (
                                let contador2 = 0;
                                contador2 < 5;
                                contador2++
                            ) {
                                if (articulos[items] != undefined) {
                                    nuevoslide.appendChild(articulos[items]);
                                    carousel.appendChild(nuevoslide);
                                    items++;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    resizeML(window.innerWidth);
    window.onresize = resizeML(window.innerWidth);
</script>
<style>
    #ml {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #items {
        min-height: 350px;
        background-color: var(--paleta1-2);
        
    }
    #items > div {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 15px;
        padding: 0 15px 0 15px;        
    }
    #default-carousel {
        border-radius: 1rem;
        box-shadow: 5px 5px 5px var(--color9);
        min-height: 350px;
        
    }
    .titulo {
        width: 100%;
        margin-bottom: 3%;
    }
    .titulo h2 {
        font-size: 1.8vw;
        width: 50%;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 0;
        background-color: #ffffffee;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 0 2px var(--color9);
    }
    @media (max-width: 800px) {
        .titulo h2 {
            font-size: 4vw;
        }
    }
</style>
